<h1> Log in to your SneakerCloset below or <a href="/signup"> sign up </a> </h1><br>
<form method="POST" action="/login">
    Username: <input type="text" name="username" required ><br><br>
    Password: <input type="password" name="password" required ><br><br>
    <input type="submit" value="Log in">
</form><br>

<a href="/sneakers">
