<h1>Sign up</h1>
<h6>Please create an account: <a href="/login">(Already have an account? Log in here.)</a><h/6>

<form method="POST" action="/signup">
    Username: <input type="text" name="username" required ><br>
    Email: <input type="text" name="email" required ><br>
    Password: <input type="password" id="uPassword" name="username[password]" ><br>
    <input type="submit" value="Sign up" >
</form>