<hgroup>
<h1>Sign up</h1>
<h6>Please create an account: <a href="/login">(Already have an account? Log in here.)</a><h/6>
</hgroup>

<form method="POST" action="/signup">
    <label for="uName">Username:</label>
    <input type="text" id = "uName" name="username" required ><br>
    <label for="uEmail">Email:</label>
    <input type="text" id="uEmail" name="email" required ><br>
    <label for="uPassword">Password:</label>
    <input type="password" id="uPassword" name="username[password]" ><br>
    <input type="submit" value="Sign up" >
</form>