<h2> Uh oh! This action is unauthorized. Please log in to your account or sign up by clicking the link below </h2>
<h2> <a href="/login"> Log in </a> </h2><br>
<h2> <a href="/signup"> Sign up </a> </h2><br>