<h1> Log in to your sneaker closet below </h1>
<form method="POST" action="/login">
    Username: <input type="text" name="username" required ><br>
    Password: <input type="password" name="username[password]" required ><br>
    <input type="submit" value="Log in">
</form>