<h1> Welcome To The SneakerCloset! </h1><br>

<h2> Log in below or <a href="/signup"> sign up </a> </h2>
<form method="POST" action="/login">
    Username: <input type="text" name="username" required ><br>
    Password: <input type="password" name="password" required ><br>
    <input type="submit" value="Log in" >
</form>
<br>
<h2> <a href="/sneakers"> View all sneakers! </a> </h2>

<% if logged_in? %>
    <h3>You are logged in as: <%=current_user.username %> </h3>
    <a href = "/sneakers/users/<%=current_user.id%>"> View my closet</a> 
    <br>
    <a href = "/logout"> Log out here</a>
<% end %>