<h1>Editing: <%= @sneaker.model %></h1>
<form method="POST" action="/sneakers/<%=@sneaker.id %>">
    Brand: <input type="text" name="brand"><br>
    Model: <input type="text" name="model"><br>
    Sport: <input type="text" name="sport"><br>
    Price: <input type="float" name="sport"><br>
    Size:  <input type="integer" name="size"><br>
    <input type="submit" value="Update!" >
</form>