<h1>Full Sneaker Closet</h1>
<h2>Displaying all the kicks we have on file</h2>

<ul><% @sneakers.each do |sneaker| %>
    <li>Brand: <%= sneaker.brand %></li> ><br>
    <li>Model: <%= sneaker.model %></li> ><br>
    <li>Price: $<%= sneaker.price %></li> ><br>
    <li>Sport: <%= sneaker.sport.capitalize %></li> ><br>
    <% end %></ul>
