<h1>Add a New Sneaker to Your Closet</h1>
<form method="POST" action="/sneakers">
Brand: <input type="text" name="brand"><br>
Model: <input type="text" name="model"><br>
Sport: <input type="text" name="sport"><br>
Price: <input type="float" name="price"><br>
Size:  <input type="float" name="size"><br>
<input type="submit" value="Create sneaker!">
</form>