<h1>Add a New Sneaker to Your Closet</h1>
<form method="POST" action="/sneakers">
    <label for="sBrand">Brand:</label>
    <input type="text" id="sBrand" name="brand" required ><br>
    <label for="sModel">Model:</label>
    <input type="text" id = "sModel" name="model" required ><br>
    <label for="sPrice">Price:</label>
    <input type="float" id="sPrice" name="price" ><br>
    <label for="sSport">Sport:</label>
    <input type="text" id="sSport" name="sport" ><br>
    <label for="sSize">Size:</label>
    <input type="integer" id="sSize" name="size" ><br>
    <input type="submit" value="Add Sneaker" >
</form>