<h1>Displaying all YOUR kicks we have on file</h1>
<h2> <a href="sneakers/new" > Add new sneaker </a> </h2>

<% @sneakers.each do |sneaker| %>
    <% if sneaker.user_id == @current_id %>
    <%= sneaker.brand %>,
    <%= sneaker.model %>
    <li><h5><a href="/sneakers/<%= sneaker.id %>">More Details</a><h/5></li><br>
    <% end %>